body{
background-color: forestgreen;
font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
header{
    background-color: rgb(244, 212, 156);
margin: 0 auto;
padding: 16px;
}
section{
    background-color: white;
    margin: 16px;
    padding: 16px;
    max-width: 500px;
    border-radius: 10px;
}